<!--<div class="widget">-->
  <!--<h3 class="widget-title">Connect</h3>-->
  <!--<ul>-->

    <!--<li><a class="spec" href="http://github.com/GitBlackSir?loc=sidebar" alt="GitHub" target="_blank" onclick="trackOutboundLink('http://github.com/GitBlackSir/');">GitHub</a></li>-->

   <!--&lt;!&ndash;  <li><a class="spec" href="http://www.gitbook.com/@gitblacksir?loc=sidebar" alt="GitBook" target="_blank" onclick="trackOutboundLink('http://www.gitbook.com/@gitblacksir');">GitBook</a></li> &ndash;&gt;-->

    <!--<li><a class="spec" href="http://twitter.com/GitBlackSir?loc=sidebar" alt="Twitter" target="_blank" onclick="trackOutboundLink('http://twitter.com/GitBlackSir/');">Twitter</a></li>-->

    <!--<li><a class="spec" href="mailto:GitBlackSir@gmail.com" alt="email" target="_blank" onclick="trackOutboundLink('mailto:admin@1024bit.io');">Email</a></li>-->
    <!---->
  <!--</ul>-->
<!--</div>-->
